<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="side">
  <div class="nav">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a th:href="@{/main.do}" class="text-dark h6 text-decoration-none">메인으로...</a></li>
      <li class="list-group-item"><a th:href="@{/member/listMembers.do}" class="text-dark h6 text-decoration-none">회원 관리</a></li>
      <li class="list-group-item"><a th:href="@{/board/listArticles.do}" class="text-dark h6 text-decoration-none">답글 게시판</a></li>
      <li class="list-group-item"><a th:href="@{/file/form}" class="text-dark h6 text-decoration-none">파일 업로드</a></li>
      <li class="list-group-item"><a th:href="@{/mail/sendMail}" class="text-dark h6 text-decoration-none">메일 전송</a></li>
      <li class="list-group-item"><a th:href="@{/index.html}" class="text-dark h6 text-decoration-none">예제 메인으로...</a></li>
    </ul>
  </div>
</th:block>
</body>
</html>
