<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<body>
<head>
  <title>메일 전송하기</title>
</head>
<th:block layout:fragment="content">
  <div>
    <h1>메일 전송 하기</h1>

    <form method="post" th:action="@{/mail/sendMail}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <div class="d-grid gap-2 d-md-block">
        <input type="submit" class="btn btn-outline-primary" value="메일 전송"/>
      </div>
    </form>
  </div>
</th:block>

<script layout:fragment="script" th:inline="javascript">
  const result = /*[[${result}]]*/ false;
  if (result) {
    alert(result);
  }
</script>
</body>
