<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mklinkj.taojwp.member.mapper.MemberMapper">
  <sql id="member_select">
    SELECT id, pwd, name, email, join_date
    FROM t30_member
  </sql>


  <resultMap id="memberResult" type="memberVO">
    <id column="id" property="id"/>
    <result column="pwd" property="pwd"/>
    <result column="name" property="name"/>
    <result column="email" property="email"/>
    <result column="join_date" property="joinDate"/>
  </resultMap>

  <insert id="addMember" parameterType="memberVO">
    INSERT INTO t30_member (id, pwd, name, email)
    VALUES (#{id}, #{pwd}, #{name}, #{email})
  </insert>

  <select id="selectAllMembers" parameterType="searchDTO" resultMap="memberResult">
    <include refid="member_select"/>
    <if test="type != null">
      <where>
        <choose>
          <when test="type.name() == 'ID'">
            id = #{keyword}
          </when>
          <when test="type.name() == 'NAME'">
            name = #{keyword}
          </when>
          <when test="type.name() == 'PWD'">
            pwd = #{keyword}
          </when>
        </choose>
      </where>
    </if>
    ORDER BY join_date DESC
  </select>

  <select id="findById" parameterType="string" resultMap="memberResult">
    <include refid="member_select"/>
    WHERE id = #{id}
  </select>


  <update id="updateMember" parameterType="memberVO">
    UPDATE t30_member
    SET pwd   = #{pwd}
      , name  = #{name}
      , email = #{email}
    WHERE id = #{id}
  </update>

  <delete id="deleteMember" parameterType="string">
    DELETE
    FROM t30_member
    WHERE id = #{id}
  </delete>

  <select id="searchMember" parameterType="memberVO" resultMap="memberResult">
    <include refid="member_select"/>
    <where>
      <if test="name != null and !name.isEmpty()">
        name = #{name}
      </if>
      <if test="email != null and !email.isEmpty()">
        AND email = #{email}
      </if>
    </where>
  </select>

  <select id="foreachSelect" resultMap="memberResult" parameterType="list">
    <include refid="member_select"/>
    WHERE name IN
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY join_date DESC
  </select>

  <!-- Oracle 대응 멀티 INSERT -->
  <insert id="foreachInsert" parameterType="list">
    <foreach item="item" collection="list" open="INSERT ALL" separator=" "
      close="SELECT * FROM DUAL">
      INTO t30_member(id, pwd, name, email)
      VALUES (
      #{item.id},
      #{item.pwd},
      #{item.name},
      #{item.email}
      )
    </foreach>
  </insert>


  <!-- MySQL, HSQLDB 대응 멀티 INSERT -->
  <!--
  <insert id="foreachInsert" parameterType="list">
    INSERT INTO t30_member (id, pwd, name, email)
    VALUES
    <foreach item="item" collection="list" separator=",">
      (#{item.id},
      #{item.pwd},
      #{item.name},
      #{item.email})
    </foreach>
  </insert>
  -->
</mapper>