<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<body>
<head>
  <title>게시물 보기</title>
</head>

<th:block layout:fragment="content">
  <h2 class="text-center mt-4 mb-4">게시물 보기</h2>

  <div class="card d-flex justify-content-center mx-auto col-9">
    <div class="card-body ">
      <form id="articleForm" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
          <label for="inputArticleNo" class="col-sm-2 col-form-label text-center">글 번호</label>
          <div class="col-sm-10">
            <input type="text" name="articleNo" class="form-control-plaintext" id="inputArticleNo"
                   th:value="${article.articleNo}" readonly>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputId" class="col-sm-2 col-form-label text-center">작성자 ID</label>
          <div class="col-sm-10">
            <input type="text" name="id" class="form-control-plaintext" id="inputId"
                   th:value="${article.id}" readonly>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTitle3" class="col-sm-2 col-form-label text-center">글 제목</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputTitle3"
                   th:value="${article.title}" disabled>
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputContent3" class="col-sm-2 col-form-label text-center align-text-top">글
            내용</label>
          <div class="col-sm-10">
          <textarea class="form-control" rows="10" maxlength="4000" name="content"
                    id="inputContent3" disabled th:text="${article.content}"></textarea>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-2 text-center">
            <label for="preview" class="col col-form-label">이미지</label>
          </div>
          <div class="col row-cols">
            <div class="col">
              <div id="preview_div" class="ro mb-3 ">
                <th:block th:if="${article.imageFileName != null && article.imageFileName != ''}">
                  <img id="preview"
                       th:src="@{|/board/download.do?articleNo=${article.articleNo}&imageFileName=${article.imageFileName}|}"
                       class="col-5 img-thumbnail rounded mx-auto d-block">
                </th:block>
                <th:block
                    th:unless="${article.imageFileName != null && article.imageFileName != ''}">
                  <img id="preview" src=""
                       class="col-5 img-thumbnail rounded mx-auto d-block d-none">
                </th:block>
              </div>
            </div>
            <div class="col">
              <div class="col-sm-10">
                <input type="hidden" name="originalFileName" th:value="${article.imageFileName}">
                <input type="file" name="imageFile" class="form-control" id="inputImageFile"
                       onchange="readURL(this)" disabled>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputWriteDate" class="col-sm-2 col-form-label text-center">등록일자</label>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="inputWriteDate"
                   th:value="${#temporals.format(article.writeDate, 'yyyy-MM-dd')}">
          </div>
        </div>

        <div id="modify_process_btns" class="d-flex justify-content-center d-none">
          <th:block sec:authorize="isAuthenticated()"
                    th:with="loginUserId=${#authentication.principal.username}">
            <button th:if="${loginUserId == article.id}" type="button" class="btn btn-primary me-2"
                    onclick="modifyProcess(this)">수정 반영하기
            </button>
            <button th:unless="${loginUserId == article.id}" type="button"
                    class="btn btn-primary me-2 disabled">수정 반영하기
            </button>
          </th:block>
          <button type="button" class="btn btn-secondary me-2" onclick="modifyView(false)">취소하기
          </button>
        </div>

        <div id="modify_view_btns" class="d-flex justify-content-center">
          <th:block sec:authorize="isAuthenticated()"
                    th:with="loginUserId=${#authentication.principal.username}">
            <th:block th:if="${loginUserId == article.id}">
              <button type="button" class="btn btn-outline-primary me-2" onclick="modifyView(true)">
                수정하기
              </button>
              <button type="button" class="btn btn-danger me-2" onclick="removeProcess(this)">삭제하기
              </button>
            </th:block>
            <th:block th:unless="${loginUserId == article.id}">
              <button type="button" class="btn btn-primary me-2 disabled">수정하기</button>
              <button type="button" class="btn btn-danger me-2 disabled">삭제하기</button>
            </th:block>
          </th:block>
          <button type="button" class="btn btn-dark me-2" onclick="replyForm(this)">답글 쓰기</button>
          <a th:href="@{/board/listArticles.do}">
            <button type="button" class="btn btn-secondary">리스트로 돌아가기</button>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div th:if="${msg != null}" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="${msg.title}"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p th:text="${msg.content}"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
</th:block>


<script layout:fragment="script" th:inline="javascript">
  const contextPath = (() => {
    // 어쩔 수 없이 뒤에 /가 포함된 context path가 /pro30 이라면 /pro30/ 이된다. 끝의 /가 있다면 제거해서 처리하자.
    let contextPath = /*[[@{/}]]*/ "";
    if (contextPath == "/") {
      return "";
    } else {
      if (contextPath.endsWith("/")) {
        return contextPath.slice(0, -1);
      }
    }
  })();

  let contextPath = /*[[${#request.contextPath}]]*/ "";

  const imageFileName = /*[[${article.imageFileName}]]*/ '';

  function modifyView(show) {
    const articleForm = document.querySelector("#articleForm");
    if (show) {
      articleForm.title.disabled = false;
      articleForm.content.disabled = false;
      articleForm.querySelector("#inputImageFile").disabled = false;
      articleForm.querySelector("#modify_view_btns").classList.add("d-none");
      articleForm.querySelector("#modify_process_btns").classList.remove("d-none");
    } else {
      articleForm.title.disabled = true;
      articleForm.content.disabled = true;
      articleForm.querySelector("#inputImageFile").disabled = true;
      articleForm.querySelector("#modify_view_btns").classList.remove("d-none");
      articleForm.querySelector("#modify_process_btns").classList.add("d-none");

      if (imageFileName === '') {
        $('#preview_div').removeClass('d-none');
        $('#preview').attr('src', '');
        $('#preview').addClass('d-none');
        articleForm.querySelector("#inputImageFile").value = '';
      }
    }
  }

  function modifyProcess(obj) {
    obj.disabled = true;
    const articleForm = document.querySelector("#articleForm");

    const csrfInput = document.createElement("input");
    csrfInput.setAttribute("type", "hidden");
    csrfInput.setAttribute("name", $("meta[name='_csrf_parameter']").attr("content"));
    csrfInput.setAttribute("value", $("meta[name='_csrf']").attr("content"));
    articleForm.appendChild(csrfInput);

    articleForm.action = `${contextPath}/board/modArticle.do`;
    articleForm.submit();
  }

  function removeProcess(obj) {
    obj.disabled = true;
    const form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", `${contextPath}/board/removeArticle.do`);

    const input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "articleNo");
    input.setAttribute("value", obj.form.articleNo.value);
    form.appendChild(input);

    const csrfInput = document.createElement("input");
    csrfInput.setAttribute("type", "hidden");
    csrfInput.setAttribute("name", $("meta[name='_csrf_parameter']").attr("content"));
    csrfInput.setAttribute("value", $("meta[name='_csrf']").attr("content"));
    form.appendChild(csrfInput);

    document.body.appendChild(form);
    form.submit();
  }

  function replyForm(obj) {
    obj.disabled = true;
    const form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", `${contextPath}/board/replyForm.do`);

    const input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "parentNo");
    input.setAttribute("value", obj.form.articleNo.value);
    form.appendChild(input);

    const csrfInput = document.createElement("input");
    csrfInput.setAttribute("type", "hidden");
    csrfInput.setAttribute("name", $("meta[name='_csrf_parameter']").attr("content"));
    csrfInput.setAttribute("value", $("meta[name='_csrf']").attr("content"));
    form.appendChild(csrfInput);

    document.body.appendChild(form);
    form.submit();
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      $('#preview').removeClass('d-none');
      const reader = new FileReader();
      reader.onload = function (e) {
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
      $('#preview_div').removeClass('d-none');
    }
  }

  // show modal
  const target = document.querySelector(".modal");
  const modal = new bootstrap.Modal(target);

  const message = /*[[${msg}]]*/ false;

  if (message) {
    modal.show();
  }
</script>

</body>
</html>